.main-card{
    width: 280px;
    height: 300px;
    margin: 10px;
    text-align: center;
    border: 2px solid grey !important;
    border-radius: 5px!important;
    
}
.grid-box-card{
    font-family: 'Baloo Paaji 2', cursive;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
  
}
