.main-card{
    width: 280px;
    height: 300px;
    margin: 10px;
    text-align: center;
    border: 2px solid grey !important;
    border-radius: 5px!important;
    
}
.grid-box-card{
    font-family: 'Baloo Paaji 2', cursive;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
  
}
@media screen and (max-width: 1025px) {
    .main-card{
        width: 190px;
        height: 230px;
    }
}
@media screen and (max-width: 930px) {
    .main-card{
        width: 200px;
        height: 270px;
        margin: 5px;
    }
}
@media screen and (max-width: 600px) {
    .main-card{
        width: 180px;
        height: 260px;
        margin: 5px;
    }
}
@media screen and (max-width: 400px) {
    .main-card{
        width: 150px;
        height: 200px;
    }
}
